



/* .activitysec {
    
    padding: 10px 20px;
    height: 150px;
    background: #bbe07f;
    display: grid;
    
} */
/* .barsection{
    padding: 6px;
    margin-top: 3px;
} */



.MainBars{
    position: relative;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: #dad8d8;
    margin-top: 10px;
    
    
}



.col .Time{
    position: relative;
    top: -2px;
float: right;
margin-right: 6px;

font-size: 11px;
color: rgb(153, 152, 152);
}
.MainBars .Perctage{
    position: relative;
    top: -7px;
    margin-left: 30px;
    font-size: 11px;
}
.MainBars #pt1{
    color: rgb(0, 184, 0);
}
.MainBars #pt2{
    color: rgb(255, 241, 41);
}
.MainBars #pt3{
    color: rgb(255, 60, 53);
}

.MainBars #pt4{
    color: rgb(145, 145, 145);
}
.row h3{
    position: relative;
    top:0px;
    right: 40px;
    font-size: 24px;
    color: darkgray;
    
    
}


  
.progress-bar1{
    background: #1ffc18;
    
    height: 100%;
    border-radius: 10px;
}
.progress-bar2{
    background: #ffee03;
   
    height: 100%;
    border-radius: 10px;
}
.progress-bar3{
    background: #ff0f0f;
   
    height: 100%;
    border-radius: 10px;
}

.progress-bar4{
    background: #383bfc;
    width: 20%;
    height: 100%;
    border-radius: 10px;
}
.activitysec .Value1{
    margin-left: 120px;
    font-size: 10px;
    color: rgb(12, 187, 12);
}
.activitysec .Value2{
    font-size: 10px;
    float: right;
    margin-right: 20px;
    margin-top: -11px;
    
    color: rgb(173, 165, 165);
}

.activitysec h5{
    font-size: 10px;
    color: rgb(12, 187, 12);
    margin-top: -10px;

}

/*Mobile Screen Media Queries*/

@media only screen and (max-width: 600px) {
    .MainBars{
        width: 95%;
        height: 11px;
        margin-left: 20px;
      
    }
    .bsection1{
        position: relative;
        margin: 0px 0px;
    }
    .bsection2{
        position: relative;
        margin: 7px 0px;
    }
    .bsection3{
        position: relative;
        margin: 5px 0px;
    }
    .bsection4{
        position: relative;
        margin: 0px 0px;
    }
    .bsection1:nth-child(1){
        margin-top: 12px;
    }
    .row h3{
        position: relative;
        top:9px;
        left:5px;
        font-size: 13px;
        
        
    }
    
    
  }
  @media only screen and (max-width: 420px) {
    .MainBars{
        width: 80%;
        margin-left: 50px;
      
    }
    .col .Time{
        
        margin-right: 50px;
        font-size: 10px;
        }
        .row h3{
            font-size: 14px;
            margin: 0px -5px;
            
        }
           
  }


  @media only screen and (max-width: 200px) {
    .MainBars{
        width: 50%;
        margin-left: 70px;
      
    }
    .col .Time{
        float: right;
        margin-right: 12px;
        font-size: 10px;
        }
  
  }
  @media only screen and (max-width: 405px) {
    .col .Time{
        float: right;
        margin-right: 20px;
        font-size: 10px;
        }
      
    }
    @media only screen and (max-width: 310px) {
        .MainBars{
            width: 85%;
            margin-left: 30px;
          
        }
        }
    
        @media only screen and (min-width: 601px) {
            
            .row h3{
                position: relative;
                top: 10px;
                left:10px;
                font-size: 13px;
                
                
            
            }
            }